@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&display=swap');


h1,h2 {
    padding-left: 20px;
    font-family: 'Anek Bangla', sans-serif;
    margin: 5px;
}


.formBox, #postBox {
    width: 80vw;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

label {
    font-size: 1.5rem;
    font-family: 'Anek Bangla', sans-serif;
}

#content {
    width: 90%;
    height: 70px;
}

.submitPart {
    margin: 10px;
    padding: 10px;
}

#token {
    margin: 0px 30px 0px 0px;
    height: 20px;
    width: 120px;
    padding: 3px;
}

#submitBTN {
    cursor: pointer;
    height: 50px;
    width: 90px;
    background:  rgb(199 199 199);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 5px -7px #000000;
    transition: 0.2s;
}

#submitBTN:hover {
    transform: translateY(3px);
    box-shadow: 0px 10px 5px -7px #000000, inset 0px -20px 20px 0px #ffffffa2;
}

#postBox {
    background-color: rgb(199 199 199);
}

.post {
    word-wrap: break-word;
    margin: 15px 0;
    padding: 10px;
    background-color: rgb(255 255 255 / 70%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 10px;
}

.post p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: 'Anek Bangla', sans-serif;

}

.post span, a {
    font-size: 1rem;
    font-family: 'Anek Bangla', sans-serif;
    color: grey;

}

a:hover {
    color: red;
}

.infoPost {
    display: flex;
    justify-content: space-around;
    align-items: center;
}