<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <title>MicroBlog</title>
</head>
<body>

    <h1>ERREUR 403</h1>
    <a href="{{ url_for('blog') }}">Retour a l'acceuil...</a>
    
</body>
</html>