<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <title>MicroBlog</title>
</head>

<body>
    <h1>Micro Blog</h1>

    <div class="formBox">
        <h2>Ajouter un post :</h2>
    
        <form action="{{ url_for('traitement') }}" method="POST">
            <label for="content" >Contenu</label>
            <textarea name="content" id="content" ></textarea>
            
            <div class="submitPart">
                <label for="token" >Secret : </label>
                <input type="password" name="token" id="token">
                <input type="submit" value="Poster" id="submitBTN">
            </div>
        </form>
    </div>

    <div id="postBox">
        
         
        <!-- ----------- Liste des Posts -->
        
        
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>